/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .nav {
  height: 45px;
  box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 40%);
  background-color: #fff;
  transition: 0.1s;
}

.nav .nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav .nav-content .navbar-brand {
  font-size: 25px;
  margin-left: 15px;
}

.nav .nav-content ul.nav-menu li {
  height: 100%;
  display: inline-flex;
  align-items: center;
  margin: 0px 3px;
  padding: 0px 20px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.nav .nav-content ul.nav-menu li.dropdown .dd-content a {
  padding: 30px;
  color: #00997e !important;
}

.notice, .alert {
  padding: 5px 8px;
  margin-left: 10px 0;
  width: 100%;
  text-align: center;
  background-color: #CFC;
  border: solid 1px #6C6;
}